/* Mailchimp Email */
.page-user-email-center #main .page-content .region-content {
  padding: 10px 20px;
}
.page-user-email-center #mailchimp-campaign-campaign-form input.form-radio {
  position: absolute;
  bottom: -22px;
  left: 90px;
}
.page-user-email-center #mailchimp-campaign-campaign-form .form-type-radio {
  position: relative;
  float: left;
  margin: 10px 12px 20px;
  clear: none !important;
  padding-top: 0 !important;
}
.page-user-email-center #mailchimp-campaign-campaign-form fieldset.collapsible {
  clear: both;
}
.page-user-email-center #mailchimp-campaign-campaign-form #content-sections label {
  margin: 15px 0 5px;
}
.page-user-email-center #mailchimp-campaign-campaign-form #content-sections .text-format-wrapper {
  clear:both;
  padding-top: 10px;
}
.page-user-email-center #mailchimp-campaign-campaign-form #content-sections .form-item {
  clear:both;
}
.page-user-email-center #mailchimp-campaign-campaign-form #content-sections fieldset.filter-wrapper {
  display: none;
}
.page-user-email-center #mailchimp-campaign-campaign-form .form-submit {
  margin-bottom: 20px;
}